# OS
.DS_Store
Thumbs.db

# Visual Studio / Rider
.vs/
*.csproj
*.sln
*.user
*.userprefs

# Unity generated
Library/
Temp/
Obj/
Build/
Builds/
Logs/
MemoryCaptures/

# Crash Reports
sysinfo.txt

# Cache
*.pidb
*.booproj
*.svd

# IDE settings
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln.docstates
