# Unity generated
Library/
Temp/
Obj/
Build/
Builds/
Logs/
MemoryCaptures/
UserSettings/

# VS / Rider
.vs/
*.csproj
*.sln
*.user
*.userprefs
.idea/

# Unity packages cache
Packages/com.unity.*
!Packages/manifest.json
!Packages/packages-lock.json

# Other
sysinfo.txt
*.pidb
*.booproj
*.svd
